@charset "UTF-8";

.info_card table{
	font-size: 24px;
	color: #333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}

.info_card tr {
	border-collapse: collapse;
	margin: 0px;
	border: solid 1px #666;
	height: 40px;
}

.info_card th {
	border-collapse: collapse;
	margin: 0px;
	text-align: center;
	background: #7098da;
	border-width: 1px;
	padding: 0px;
	border-style: solid;
	border-color: #000000;
	background: #7098da;
}

.info_card td {
	border-collapse: collapse;
	margin: 0px;
	text-align: center;
	background: #b5ffff;
	border-width: 1px;
	padding: 0px;
	border-style: solid;
	border-color: #999999;
}