@charset "UTF-8";

ul.list {
	list-style-type:none;
	overflow:scroll;
	width:300px;
	height:500px;
}

ol.list {
	list-style-type:none;
}
.list li a:link{
	display: block;
	padding: 0px 0px;
	background: #808080;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-top: 10px solid #808080;
	border-bottom: 10px solid #808080;
}
.list li a:visited{
	display: block;
	padding: 8px 50px;
	background: #808080;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-top: 10px solid #808080;
	border-bottom: 10px solid #808080;
}
.list li a:hover{
	display: block;
	padding: 8px 50px;
	background: #808080;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-top: 10px solid #808080;
	border-bottom: 10px solid #808080;
}
.list li a:active{
	display: block;
	padding: 8px 50px;
	background: #808080;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-top: 10px solid #808080;
	border-bottom: 10px solid #808080;
}